@import '/src/styles/media-quary';


body{
    margin: auto;
    text-align: center; 
    font-family: Helvetica, sans-serif;    
}

.main_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .logo{
        width: 278px;
        height: 55px;
        margin-top: 10px;
        align-items: center;

        @include mobile-2{
            width: 278px;
            height: 115px;
            margin-top: 100px;

        }
        
    }
    .search{
        margin-top: 5px;
        @include laptop{
            margin-top: 50px;
        }
        .search_input{
            width: 159px;
            height: 36px;
            left: 209px;
            top: 426px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 2px; 
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #888888;
            &:hover{
                background-color: lightgray;
            }
            @include mobile-2{
                width: 459px;
            };
            @include laptop{
                width: 809px;
                border-radius: 8px; 
    
            }
            
        }
        .search_btn{
            width: 58px;
            height: 36px;
            left: 934px;
            top: 426px;
            background: #204080;
            border-radius: 2px;
            margin-left: 10px;
            font-size: 10px;
            line-height: 21px;

            color: #FFFFFF;
            &:hover{
                background: #4F75C2;
            }
            @include laptop{
                width: 138px;
                font-size: 18px;
                border-radius: 8px;
            }
        }
        .first_table{
            width: 259px;
            height: 350px;
            margin-top: 20px;
            background: #FFFFFF;
            border: 1px solid #484848;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 5px;
            padding-right: 5px;
            line-break: default;
            @include mobile-2{
                width: 549px;
                
            }
            
            @include laptop{
                width: 809px;
                margin-top: 20px;
                
            }
            .show_more{
            
                color: #000000;
                background: transparent;
                border-style: none;
                font-size: 14px;
                margin-top: 10px;
                
                height: 20px;
                &:hover{
                    background: #4F75C2;
                    color: #FFFFFF;
                }
            }  
            .table1{
                height: 90px;
                width: 250px;
                font-size: 8px;
                font-style: normal;
                font-weight: bold;
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
                justify-items: start;
                &:hover{
                    background-color: lightgray;
                }
                @include mobile-2{
                    width: 540px;
                    font-size: 15px;
                }
                @include laptop{
                    width: 800px;

                }
                .first_col{
                    font-size: 8px; 
                    color: #484848;
                    display: grid;
                    justify-items: start;
                    text-align: left;
                    width: 150px;
                    
                    @include mobile-2{
                        font-size: 15px;
                        width: auto;
                    }
                    @include laptop{
                        font-size: 18px;
                        padding-left: 5px; 
                    } 
                    .name{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 14px;
                        color: #686868;
                        text-align: left;  
                       
                    }
                }
                .second_col{
                  
                    line-height: 14px;
                    color: #686868;
                   
                    
                    @include laptop{
                        padding-right: 5px; 
                    }
                  
                }   .email{
                    text-align: left;
                    line-break: anywhere;

                }

            }

        } 
        

    }
    

}
